{% load crispy_forms_filters %}

<div class="row">
    <div class="col">
      <h4>Are you sure you want to delete "{{ result.application_name }}" account with "{{ result.username }}" username  ?</h4>
      <form action="{% url 'health-delete' result.id %}" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-sm btn-danger" type="submit" name="Yes" />
        <a  class="btn btn-primary btn-sm btn-block" href="{% url 'health-delete' result.id %}">
            Cancel
          </a>
      </form>
  </div>
  </div>
</div>